planet {
    margin: 2rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    display: block;
}
.material-icons {
    vertical-align: bottom;
    color: #aaa;
    margin-right: .5rem;
}
.stat {
    padding: .25rem;
}
.d-flex {
    .stat {
        margin-right: 1rem;
        margin-left: .75rem;
    }
}
table.atmos {
    font-size: .9rem;
    tr {
        padding: 0;
    }
    td, th {
        padding: .4em 1rem;
    }
}