planet {
    margin: 3rem 0;
}
.material-icons {
    vertical-align: bottom;
    color: #aaa;
    margin-right: .5rem;
}
.stat {
    padding: .25rem;
}
table.atmos {
    font-size: .9rem;
    tr {
        padding: 0;
    }
    td, th {
        padding: .4em 1rem;
    }
}